.container {
  max-width: 1200px;
  margin: 0 auto;
}
.titleWrapper {
  display: flex;
  justify-content: center;
}
.addCity {
  padding: 30px 0;
}

.pointer {
  cursor: pointer;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
}
.cityCardWrapper {
  width: 30%;
  text-align: center;
  margin-bottom: 35px;
  margin-right: 20px;
  cursor: pointer;
}
@media (max-width: 868px) {
  .cityCardWrapper {
    width: 45%;
  }
}
@media (max-width: 568px) {
  .cityCardWrapper {
    width: 100%;
  }
}
