.cityWrapper {
  padding: 30px 20px;
}
.cityDetailsCard {
  padding: 10px 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 748px) {
  .cityDetailsCard {
    width: auto;
    flex-direction: column;
  }
}

.pressure {
  margin-top: 10px;
}
